// c-accordion

.c-accordion {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.c-accordion__title {
  padding: 12px;
  background: #333;
  color: #fff;
  cursor: pointer;
  list-style: none;
}

.c-accordion__content {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-out;
}

.c-accordion[open] .c-accordion__content {
  border-bottom: solid 1px gray;
}

/* 2. details内のコンテンツ部分をターゲットにする */
details::details-content {
  /* 開閉アニメーションの設定 */
  transition: block-size 0.5s ease-out, content-visibility 0.5s ease-out;
  transition-behavior: allow-discrete; /* 不連続な値の変化を許容 */
  overflow: hidden;
}

/* 3. 閉じている時の高さを0にする */
details:not([open])::details-content {
  block-size: 0;
}
